@import 'flexbox'

*
  box-sizing border-box
body
  max-width 720px
  margin 0 auto
  header,footer,section
    flexbox(flex)
    flex-align(start)
  section
    justify-content(space-between)
    align-items(center)
  header, footer
    flex-basis(100%)
    background #f7f7f7
  article
    flex-basis(48%)
    background #f4ccf4
    height 100%
  aside, div.sidebar
    flex(24% 0)
    background #e4e4e4
    height 100%
  aside
    order(1)
  div.sidebar
    order(3)
  article
    order(2)
  footer p
    flex-grow(1)
